# Midnight the last day of every month.
 * * * * * sh /jobs/enforce_subscriptions.sh
# 59 23 28-31 * * [ "$(date +%d -d tomorrow)" = "01" ] && sh /jobs/enforce_subscriptions.sh

# 54 hours before; or 10am the previous day.
# 00 10 28-31 * * [ "$(date +%d --date "+2 day")" = "02" ] && sh /jobs/publish_reminder_minus_54_hours.sh

# 4 hours before
# 59 19 28-31 * * [ "$(date +%d -d tomorrow)" = "01" ] && sh /jobs/publish_reminder_minus_4_hours.sh

# 1 hour before
# 59 22 28-31 * * [ "$(date +%d -d tomorrow)" = "01" ] && sh /jobs/publish_reminder_minus_1_hour.sh
